@CHARSET "UTF-8";

@font-face {
    font-family: Babylove;
    src: url(font/Babylove.ttf);
}

div.header {
    font-family: Babylove;
  	 font-size:x-large;
}


body {
    background-color: #ffffff;
}