@CHARSET "UTF-8";

div {
  font-family: 'Play';
  
}

div.main {
  	background-color: #CEBEBA;
   color: #523E39;
}

div.head {
  	font-size:200%;
	text-align: center;
  	background-color: #CEBEBA;
   color: #523E39;
}

div.nav {
  	background-color: #523E39;
   color: #CEBEBA;
}

div.blog {
  	font-size:200%;
  	background-color: #CEBEBA;
   color: #523E39;
}

body {
   background-color: #523E39;
}

p.head {
   font-size:100%;
	text-align: center;
   padding-left: 0;

}

p.nav {
   font-size:200%;
  	background-color: #523E39;
   color: #CEBEBA;
   padding-left: 20px;
   margin-top:20px;
}

a.nav {
   color: #CEBEBA;
   text-decoration: none;
   outline: none;
}


p.main {
   font-family: 'Play';
  	font-size:80%;
	text-align: center;
  	background-color: #CEBEBA;
   color: #523E39;
  	padding-left: 20px;
}


h2.main {
   font-family: 'Play';
  	font-size:100%;
	text-align: left;
   background-color: #CEBEBA;
   color: #523E39;
   padding-left: 20px;
}

p {
   font-family: 'Play';
  	font-size:60%;
	text-align: left;
  	background-color: #CEBEBA;
   color: #523E39;
  	padding-left: 20px;
  	padding-right: 20px;
}

h2 {
   font-family: 'Play';
  	font-size:100%;
	text-align: left;
   background-color: #CEBEBA;
   color: #523E39;
   padding-left: 20px;
}

h3 {
   font-family: 'Play';
  	font-size:70%;
	text-align: left;
   background-color: #CEBEBA;
   color: #523E39;
   padding-left: 20px;
}


div.column {
  height: 1000px;
}

img {
  width: 100%;
  display: block
}

img.column {
  width: 97%;
  display: inline
}

img.menu {
  width: 93%;
  display: inline;
  padding-left:20%;
  padding-top:5%
}

img.decoration {
  align-items: center;
  width: 50%;
  display: inline
}

video {
  max-height: 500px;
  display: block
}

a.button {
    font-family: 'Play';
  	 background-color: #523E39;
    color: #CEBEBA;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px 10px 10px 0px;
    cursor: pointer;
  	 float: right;
}
a.button:hover {
  
    background-color: #8A6E67;
    color: #CEBEBA;
    border: 1px solid #8A6E67; 
    padding: 7px 7px;
  
}


hr {
    border-style: solid;
    border-color: #523E39;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    margin-right: 10px
}

hr.top { 
  height: 30px; 
  border-style: solid; 
  border-color: #CEBEBA; 
  border-width: 1px 0 0 0; 
  border-radius: 20px;
  margin: 15px 10px 0 0;
}
hr.top:before {
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #CEBEBA; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

hr:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #CEBEBA; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}
hr.top:after { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #CEBEBA; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}


* {
  box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

@media only screen and (max-width: 750px) {
div {
  	font-size: 90%;
}

a.button {
   font-size: 110%;
}

p.nav {
   padding-left: 10px;
   margin-top:10px;
}  
  
}
  
@media only screen and (max-width: 400px) {
div {
  font-size: 80%;
}
a.button {
   display: none;
}
  
img {
  padding-bottom: 5px;
}  

img.column {
  		width: 97%;
      display: none
}
  
.col-1 {width: 9.09%;}
.col-2 {width: 18.18%;}
.col-3 {width: 27.27%;}
.col-4 {width: 36.36%;}
.col-5 {width: 45.45%;}
.col-6 {width: 54.54%;}
.col-7 {width: 63.63%;}
.col-8 {width: 72.72%;}
.col-9 {width: 81.81%;}
.col-10 {width: 90.90%;}
.col-11 {width: 100%;}

p.nav {
   padding-left: 10px;
   margin-top:10px;
}  

hr.top:before {
  height: 0; 
}  

div.menu {
  display: none
}
  
}