<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Little one</name>

    <description>
        Simple website for showing baby pictures to friends and family 
    </description>

    <author href="twitter.com/robchamberspfc" email="robchamberspfc@gmail.com">
        Rob Chambers
    </author>

		<platform name="android">
    		<icon src="icon.png" />
		</platform>
</widget>
